DATABASE_URL="postgresql://lottery_user:toor@localhost:5432/lottery_db"
REDIS_HOST="redis://localhost"
REDIS_PORT=6379
REDIS_PASSWORD="redis_password"
JWT_SECRET="your_jwt_secret_key"

GMAIL_USER="example@gmail.com"
APP_PASSWORD="**** **** **** ****"

NODE_ENV=development
PORT=3000
