NODE_ENV=production
PORT=3000

DATABASE_URL=postgresql://lottery_user:db_password_here@db:5432/lottery_db

DB_NAME=lottery_db
DB_USER=lottery_user
DB_PASSWORD=db_password_here
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password_here
REDIS_URL=redis://:redis_password_here@redis:6379

JWT_SECRET=jwt_secret_key_here

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin_password_here

GMAIL_USER=example@gmail.com
APP_PASSWORD=**** **** **** ****

CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here